.navbar{
    background-color: darkturquoise;
}
body{
    background-color: black;
}
hr{
    color:aqua;
}

.card{
    border: 1px solid white;
}
nav{
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2rem;
}
.card-body{
    color:white;
    background-color:aqua;
    
}
footer{
    background-color:aqua;
    color:white;
}