.navbar{
    background-color: darkturquoise;
    width: 100%;
}
body{
    background-color: black;
    padding-top: 7rem;
}
hr{
    color:aqua;
}

.card{
    border: 1px solid white;
}
nav{
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2rem;
}
.card-body{
    color:white;
    background-color:aqua;
}
footer{
    background-color:aqua;
    color:white;
    width: 100%;
}
html{
    scroll-behavior: smooth
}